
.header{
    background-color: rgb(82, 82, 82);
}

.footer{
    background-color: rgb(31, 101, 139);
    padding: 16px 16px;
    color: white;
}


.ul-footer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.textImage{
    align-items: flex-end;
}

.cards{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.cardButtons{
    align-items: flex-start;
    margin-top: 10px;
    font-style: bold;
    color: white;
    font-size: small;
    margin-left: 5%;
    
}


.col-12{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.styleNyA{
    display: inline-block;
    justify-content: space-around;
    align-content: center;
}


.buttonsPpal{
    display: flex;
}

.bg-ppal{
    background-image: url("./images/ba3.jpg");
    margin: 0px;
}

.textLogo{
    color: white;
    font-style: bold;
}